<div class="row add-marg" *ngIf="auth.userDoc && auth.userDoc.organization">
  <div class="col">
      <mat-card>
        <div>
            <h1>Welcome <strong>{{auth.userDoc.orgData.orgName}}</strong>!</h1>
        </div>
        <div>
            <button mat-stroked-button (click)="openDialog()">Create New Listing</button>
        </div>
      </mat-card>
  </div>
</div>
<div class="row add-marg">
  <div class="col-12">
    <h1>Find Volunteer Events Near You</h1>
  </div>
  <div class="col-12">
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          <agm-marker *ngFor="let event of events | async" [latitude]="event.lat" [longitude]="event.lng"></agm-marker>
        </agm-map>
  </div>
</div>


<div class="row add-marg">
  <div class="col-5">
      <div class="autocomplete-container">
          <mat-google-maps-autocomplete [appearance]="appearance.OUTLINE"
                                          (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                          (onLocationSelected)="onLocationSelected($event)">
          </mat-google-maps-autocomplete>
        </div>
  </div>
  <div class="col-5">
      <mat-form-field appearance="outline">
          <mat-label>Radius</mat-label>
          <input matInput placeholder="Radius" type="number" [(ngModel)]="radius">
          <mat-hint>Enter kilometers</mat-hint>
        </mat-form-field>
  </div>
  <div class="col-2">
      <button mat-flat-button color="accent" (click)="search()">Search</button>
  </div>
</div>

<div class="row add-marg">
  <div class="col">
      <app-single-event *ngFor="let event of events | async" [event]="event"></app-single-event>
  </div>
</div>






