    <form class="enterListings" [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Description of Job</mat-label>
          <input matInput formControlName="description" placeholder="Arko's Beautiful Soup Kitchen">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Required Volunteers</mat-label>
          <input matInput type="number" formControlName="requestAmount" placeholder="3">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Tags</mat-label>
          <input matInput formControlName="tags" placeholder="Service, Food">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>

      <p>
          <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput formControlName="startDate" type="datetime-local" placeholder="">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
      </p>

      <p>
          <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput formControlName="endDate" type="datetime-local" placeholder="">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
      </p>

      <div>
          <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>
        </div>

        <div class="autocomplete-container">
          <mat-google-maps-autocomplete [appearance]="appearance.OUTLINE"
                                          (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                          (onLocationSelected)="onLocationSelected($event)">
          </mat-google-maps-autocomplete>
        </div>

      <button mat-flat-button color="accent" type="submit" [disabled]="!form.valid">Submit</button>

    </form>
      

        

      
      




      
