<div class="container-fluid" id="navbar">
  <mat-toolbar color="primary" class="fixed-navbar mat-elevation-z5">
    <a mat-button class="navbar-brand" routerLink="/">Vank</a>
    <div *ngIf="!(auth.user | async); else alreadyLoggedIn">
      <a mat-button routerLink="/login">Login</a>
    </div>
    <ng-template #alreadyLoggedIn>
      <button mat-button (click)="auth.signOut()">Logout</button>
      <a mat-button routerLink="/profile">Profile</a>
      <a mat-button routerLink="/messages">Messages</a>
    </ng-template>
  </mat-toolbar>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>