<div class="container">
  <div class="row">
    <div class="col-12 center">
        <img src="{{auth.userDoc.photoURL}}"> 
        <h1>{{auth.userDoc.displayName}}</h1>  
    </div>
  </div>

  <div class="row">
    <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput #input type="number" placeholder="Age" formControlName="age">
        </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
      <button mat-stroked-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
    </div>
  </div>
</div>

  

