<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{event.description}}</mat-card-title>
    <mat-card-subtitle>{{event.requestAmount}} students needed!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      This event is sponsored by {{event.organization}}
    </p>
    <agm-map [latitude]="event.lat" [longitude]="event.lng" scrollwheel="false">
      <agm-marker [latitude]="event.lat" [longitude]="event.lng"></agm-marker>
    </agm-map>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="join()">SIGN UP</button>
  </mat-card-actions>
</mat-card>