 <div *ngIf="auth.userDoc">
    <div *ngIf="auth.userDoc.registered else notRegistered">
      <app-student *ngIf="!auth.userDoc.organization"></app-student>
      <app-organization *ngIf="auth.userDoc.organization"></app-organization>
    </div>
    <ng-template #notRegistered>
      <h1>Welcome to Vank!</h1>
      <p>Let's get started with a simple question! Are you a:</p>
      <button mat-stroked-button color="primary" (click)="setUser('student')">Student</button>
      <button mat-stroked-button color="accent" (click)="setUser('organization')">Organization</button>
    </ng-template>
    </div>




    