
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{event.description}}</mat-card-title>
      <mat-card-subtitle>Need: {{event.requestAmount}}</mat-card-subtitle>
      <mat-card-subtitle>Start Time: {{event.startDate.toDate() | date: "MMM d, y h:mm a"}} </mat-card-subtitle>
      <mat-card-subtitle>End Time: {{event.endDate.toDate() | date: "MMM d, y h:mm a"}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul *ngFor="let student of getStudents()" class="tags">
            <li><a href="" class="tag">{{student.user.displayName}}</a></li>

            <div *ngIf="past">
                <app-rate-students [student]="student" [event]="event"></app-rate-students>
            </div>

        </ul>
    </mat-card-content>
</mat-card>
